@font-face {
    font-family: 'Coolvetica';
    src: url('tipografia/tipografia/CoolveticaRg-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CoolveticaBold';
    src: url('tipografia/tipografia/CoolveticaRg-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DINPro';
    src: url('tipografia/tipografia/DINPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DINProBold';
    src: url('tipografia/tipografia/DINPro-Bold.ttf') format('truetype');
}

/* Estilos personalizados */
body {
    font-family: 'DINPro', sans-serif;
    background-color: #000;
    color: white;
}

.navbar-brand img {
    margin-right: 10px;
}

.hero-section {
    background: url('Imagenes/Imagenes/BG_INICIO.webp') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    font-family: 'CoolveticaBold', sans-serif;
}

.contact-section {
    background: url('Imagenes/Imagenes/FOTO1.webp') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
}

.seguridad-section {
    padding: 100px 0;
    font-family: 'CoolveticaBold', sans-serif;
}

.seguridad-section h3 {
    color: #D7FA00;
    font-size: 20px;
}

.seguridad-section .cta {
    text-align: center;
    margin-top: 30px;
}

.seguridad-section .cta p {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: 2px solid #9c9c9c;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(156, 156, 156, 0.5);
    transition: box-shadow 0.3s ease;
}

.seguridad-section .cta p:hover {
    box-shadow: 0 0 20px rgba(156, 156, 156, 1);
}

.carousel-item img {
    border-radius: 10px;
}

.contact-form-section {
    background-color: #111;
}

.position-relative {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 20px;
    font-family: 'Coolvetica', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sectores-section {
    font-family: 'DINProBold', sans-serif;
    background-color: #fff;
    color: #000;
}

.sectores-section p {
    font-family: 'DINPro', sans-serif;
    background-color: #fff;
    color: #000;
}

.sectores-section p {
    font-size: 18px;
    margin-bottom: 30px;
}



/* Ajusta el tamaño y posición de la imagen según tus necesidades */

.cta-section-div {
    background: url('Imagenes/Imagenes/linea.svg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.8);
    /* Cambia los valores según el color y la opacidad deseados */
}


.cta-section h4 {
    font-size: 24px;
    margin-top: 20px;
}


/*---------------------------------------*/
.contact-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'DINProBold', sans-serif;
    color: #ffffff;
    max-width: 100%; /* Asegúrate de que el contenedor no exceda el ancho de su contenedor padre */
}

.messages-section {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    width: 100%; /* Asegúrate de que la sección se ajuste al contenedor */
    max-width: 250px; /* Establece un ancho máximo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

.messages-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages-section img {
    width: 60px; /* Ajusta el tamaño de la imagen */
    height: 60px; /* Ajusta el tamaño de la imagen */
    margin-bottom: 10px;
}

.messages-section h2 {
    color: #fff200;
    font-size: 24px; /* Ajusta el tamaño del texto */
    margin: 10px 0;
}

.messages-section .arrow {
    color: #fff;
    font-size: 20px; /* Ajusta el tamaño del texto */
    margin-top: 20px;
}

.form-section {
    background-color: #3F423E;
    padding: 20px;
    flex-grow: 1;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid;
    border-color: #D7FA00;
}

.form-header {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-text {
    flex-grow: 1;
}

.header-image img {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.form-header h2 {
    color: #000;
    margin: 0;
    font-size: 28px; /* Ajusta el tamaño del texto */
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group label {
    color: #b3b3b3;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 5px;
    border-radius: 35px 15px 35px 15px;
    background-color: #EFEFEF;
    color: #969696;
    font-size: 14px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-group input::placeholder {
    color: #b3b3b3;
    font-size: 14px;
}

.description-section {
    background-color: #d6ff00;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.description-section h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.description-section textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.description-section textarea::placeholder {
    color: #b3b3b3;
    font-size: 14px;
}

.description-section button {
    align-self: flex-end;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

.description-section button:hover {
    background-color: #ccc;
}

/* Clases adicionales de Bootstrap para responsividad */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .messages-section {
        max-width: 100%;
    }
}
